body{
    font-family: 'Pacifico', cursive;
}
#container{
    height: 200px;
    background-color: grey;
    border-radius: 5px;
}
#question{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}
#answer-container{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}

#answer-container > div{
    width: 400px;
    height: 200px;
    border-radius: 5px;
    color: white;
}
#answer1{
    display: flex;
    justify-content: center;
    background-color: #ef476f;
}
#answer2{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #06d6a0;
}
.reverse{
    flex-direction: row-reverse;
}